@import '../../assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.square {
    width: 33%;

    border-width: 10px;
    border-color: #414141;
    border-radius: 10px;

    color: $playerXcolor;
    &[player-turn="O"] {
        color: $playerYcolor;
    }

    font-size: 80px;

    margin: 5px;

    background-color: $tertiary-color;

    text-align: center;
    font-family: "Cabin", sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    box-shadow: inset 5px 5px $indent-color;
    transition: box-shadow 0.13s ease;
}
.square p {
    position: absolute;
    user-select: none;
    text-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.square.notClicked:hover {
    box-shadow: inset 10px 10px $indent-color;
    background-color: rgb(37, 37, 37);
    transition: all 0.13s ease;
}
.square.disable:hover {
    box-shadow: inset 5px 5px $indent-color;
}

.square.clicked {
    cursor: default;
    animation: fontAnimation 0.13s ease;
    font-size: 80px;
}
.square.disable{
    cursor: default;
}

.square.reset,.square.reset.highlight {
    animation: fontToZero 1s ease;
    font-size: 0px;
}
.square.highlight  {
    animation: highlightAnimation 0.13s ease;
    font-size: 100px;
    color: #dfbfec;
    background-color: #1f1f1f;
}
@keyframes fontAnimation {
    from {
        font-size: 0px;
    }
    to {
        font-size: 80px;
    }
}
@keyframes fontToZero {
    from {
        font-size: 100px;

    }
    to {
        font-size: 0px;
        background-color: #292929;
    }
}
@keyframes highlightAnimation {
    from {
        font-size: 80px;
    }
    to {
        font-size: 100px;
        background-color: #1f1f1f;
        color: #dfbfec;
   
    }
}
@keyframes nonWinningSquare {
    from {

    } 
    to {
        background-color: #1f1f1f;
        color: #dfbfec;
    }
}


