@import '../../assets/styles/variables.scss';

.square {
    width: 33%;

    border-width: 10px;
    border-color: #414141;
    border-radius: 10px;

    margin: 5px;

    background-color: $tertiary-color;
    color: white;

    text-align: center;

    cursor: pointer;

    box-shadow: inset 5px 5px $indent-color;
    
}
