
/* UI Color Palette */
$primary-color: #2b2b2b;

$secondary-color: #303030;
$secondary-color-offset: #555555;

$tertiary-color: #292929;

$primary-text-color: rgb(175, 175, 175);
$primary-text-offset: #9b9b9b;

/* 3D */
$indent-color: #161616a8;
$shadow-color: #2222227a;
$shine-color:#ffffff18;

/* Team Colors */
$playerXcolor:#ed4242;
$playerYcolor:#759aff;
